@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  @include flexPosition(row, center, center);
  width: 100%;
  height: 100%;

  .cont_img {
    @include flexPosition(row, center, flex-end);
    flex: 1;
    height: 100%;

    img {
      height: 550px;
      width: 350px;

      @include mobile {
        height: 400px;
        width: 295px;
      }
    }

    // Mobile
    @include mobile {
      height: auto;
    }
  }

  .cont_info {
    @include flexPosition(row, flex-start, flex-end);
    flex: 2;
    height: 100%;
    margin-left: 25px;

    .info {
      @include flexPosition(column, flex-start, flex-start);
      height: 550px;
      width: 70%;

      h1 {
        margin: 0px;
        font-size: 3em;
        font-family: "Lora";
        font-weight: 300;
        opacity: 0;

        animation-duration: 1s;
        animation-name: bounceIn;
        animation-timing-function: ease-in-out;
        animation-delay: 0.8s;
        animation-fill-mode: both;
      }

      h3 {
        font-family: "Nimbus";
        margin: 16px 0px 0px 0px;
        opacity: 0;

        animation-duration: 1s;
        animation-name: bounceIn;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: both;
      }

      p {
        margin: 16px 0px 0px 0px;
        opacity: 0;

        animation-duration: 1s;
        animation-name: bounceIn;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: both;
      }

      // Mobile
      @include mobile {
        width: 70%;
        height: auto;
      }
    }

    // Mobile
    @include mobile {
      @include flexPosition(column, center, center);
      width: 100%;
      margin: 25px 0px;
    }
  }

  // Mobile
  @include mobile {
    @include flexPosition(column, center, center);
  }
}


// ANIMATIONS
@keyframes bounceIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}